<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<!-- favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/site_data/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/site_data/favicon-16x16.png">
<meta name="theme-color" content="#ffffff">

<!-- Primary Meta Tags -->
<title>N1ght-W0lf</title>
<meta name="title" content="N1ght-W0lf">
<meta name="description" content="My amazing blog.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://n1ght-w0lf.github.io/">
<meta property="og:title" content="N1ght-W0lf">
<meta property="og:description" content="My amazing blog.">
<meta property="og:image" content="/assets/images/site_data/thumbnail.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://n1ght-w0lf.github.io/">
<meta property="twitter:title" content="N1ght-W0lf">
<meta property="twitter:description" content="My amazing blog.">
<meta property="twitter:image" content="/assets/images/site_data/thumbnail.png">