{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.ribbon %}
  {% assign ribbon = post.ribbon %}
{% else %}
  {% assign ribbon = 'darkgrey' %}
{% endif %}


<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

<a href="{{ post.url | relative_url }}" class="post-blog-card" style="text-decoration: none; 
    --image-url: url({{ teaser }});
    --ribbon: {{ ribbon }};">

  <div class="post-meta">
    <div class="post-ribbon">
      <span class="post-ribbon4">{{ post.categories[0] }}</span>
    </div>
  </div>

  <div class="post-description">
    <h1>{{ title }}</h1>
    <p>  {{ post.description | truncate: 120}}</p>
    
    <p class="post-date page__meta">
      {{post.date | date_to_string}}
    </p>
  
    {% if post.read_time %}
      <p class="post-time page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

  </div>
</a>



<!-- <div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    

  </article>
</div> -->
